
.modal-chart {  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
      
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10; 
}
  
.modal-chart-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  
    width: 560px;
    height: 320px;
    background-color: white;
    border-radius: 2px;
    /* z-index: 1001; */
}

.user-wrap {
  width: 100%;
  margin: 10px auto;
  position: fixed; 
  z-index: 20;
}

.blue-image {
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 39%;
    background-image: url("https://ghon2023.github.io/PreAHPND/Chk_blue_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;
    /* z-index: 10; */
    /* vertical-align: middle; */
  }

  .blue-selected {
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 39%;
    background-image: url("https://ghon2023.github.io/PreAHPND/UnChk_blue_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
  }

  .blue-text {
    position: fixed;
    top: 69px;
    left: 40.4%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: rgb(38,101,239);
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
  }

  .blue-text2 {
    position: fixed;
    top: 69px;
    left: 42.6%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
  }

.user-wrap2{
    width: 100%;
    margin: 10px auto;
    position: fixed;  
    z-index: 20;
  }
  
.brown-image{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 45%;
    background-image: url("https://ghon2023.github.io/PreAHPND/Chk_brown_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
    /* vertical-align: middle; */
}  
  
.brown-selected{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 45%;
    background-image: url("https://ghon2023.github.io/PreAHPND/UnChk_brown_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
}
  
.brown-text{
    position: fixed;
    top: 69px;
    left: 46.4%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: rgb(211,181,31);
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}
  
.brown-text2{
    position: fixed;
    top: 69px;
    left: 48.6%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}

.user-wrap3{
    width: 100%;
    margin: 10px auto;
    position: fixed;
    z-index: 20;
}
  
.orange-image{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 51%;
    background-image: url("https://ghon2023.github.io/PreAHPND/Chk_orange_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
    /* vertical-align: middle; */
}
  
.orange-selected{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 51%;
    background-image: url("https://ghon2023.github.io/PreAHPND/UnChk_orange_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
}
  
.orange-text{
    position: fixed;
    top: 69px;
    left: 52.4%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: rgb(253,106,15);
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}
  
.orange-text2{
    position: fixed;
    top: 68px;
    left: 54.6%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}

.user-wrap4{
    width: 100%;
    margin: 10px auto;
    position: relative;  
    position: fixed;
}
  
.red-image{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 57%;
    background-image: url("https://ghon2023.github.io/PreAHPND/Chk_red_100x36.png");   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
    /* vertical-align: middle; */
}
  
.red-selected{
    width:100px;
    height: 38px;
    position: fixed;
    top: 50px;
    left: 57%;
    background-image: url("https://ghon2023.github.io/PreAHPND/UnChk_red_100x36.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
}
  
.red-text{
    position: fixed;
    top: 69px;
    left: 58.4%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: rgb(253,0,23);
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}
  
.red-text2{
    position: fixed;
    top: 68px;
    left: 60.6%;
    width: 50px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    user-select: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}
